@font-face{
  font-family: mainfont;
  src: url("Verdana Bold.ttf");
}

body{
  padding: 0px;
  margin: 0px;
  background-color: #fafffd;
  color: #342e37;
  font-family: mainfont;
}

menu{
  margin: 0px;
  height: 40px;
  position: fixed;
  background-color: #fafffd;
  z-index: 100;
  width: 100%;
  padding-top: 10px;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

menu > a {
  text-decoration: none;
}

.block{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

.block > a{
  position: absolute;
  top: 0px;
}

.block > p{
  margin-top: 50px;
  z-index: 21;
}

.block > h2{
  position: absolute;
  top: 40px;
  z-index: 21;
}

.attention{
  background-color: #fa824c;
}

.attention > img{
  margin-top:100px;
  z-index: 20;
  border-radius: 100px;
  padding: 5px;
  height: 300px;
}

.interest{
  background-color: #fafffd;
}

.interest > table{
  position: absolute;
  z-index: 20;
  top: 110px;
}

table{
  text-align: center;
  border-spacing: 100px 10px;
}

td > img{
  height: 100px;
  width: 100px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.desire{
  background-color: #9fd356;
}

.desire > p{
  width: 600px;
  position: absolute;
  right: 40px;
}

.desire > h3{
  width: 600px;
  position: absolute;
  right: 40px;
  top: 140px;
}

.desire > img{
  position: absolute;
  left: 40px;
  top: 115px;
  height: 300px;
  border-radius: 100px;
  z-index: 21;
}

.action{
  background-color: #3c91e6;
}

.fall-in{
  height: 100px;
  border-radius: 100px;
  width: 100%;
  position: absolute;
  margin-top:200px;
  z-index: 10;
}

form {
  align-self: center;
}
