.menu{
  background-color: #f9a03f;
  display: flex;
  align-items: center;
  height: 50px;
}

.btn-outline-dark{
  width: 150px;
}

.logo{
  display: flex;
  justify-content: center;
  margin-top: 14px;
}

.menu .sign_out{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.p-2{
  color: black;
}

.card{
  margin-top: 12px;
}
