.place{
  outline: 2px solid #000;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin-top: 3%;
}

.menu{
  margin-top: 20px;
}

.btn-outline-danger{
  height: 5%;
  width: 100%;
}

img{
  max-width: 90%;
  max-height: 90%;
  display: none;
}

.winner{
  display: none;
}

#score{
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.footer .btn-outline-danger{
  height: 150px;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}
