.place{
  outline: 2px solid #000;
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin-top: 3%;
}
.content{
  display: none;
}

.menu{
  margin-top: 20px;
}

.btn-outline-danger{
  height: 5%;
  width: 100%;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: none;
}
