
body{
  margin: 0px;
  background-color: #FFFFFF;
}

.header{
  background-color: #F9A03F;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.article{
  position: relative;
  height: 100px;
  width: 100%;
  top: 20px;
  left: 10px;
}

.article.form-group{
  margin-bottom: 50px;
}

.btn-outline-dark{
  height: 50px;
  width: 200px;
  margin-top: 15px;
}

.content{
  margin-top: 20px;
  margin-left: 10px;
}

#article{
  margin-left: 10px;
  margin-bottom: 250px;
}

.leave_comment{
  background-color: #FAFAFA;
  margin-left: -20px;
  padding: 20px;
  padding-bottom: 80px;
  display: block;
}

.edit{
  position: absolute;
  right: 20px;
}
