
body{
  margin: 0px;
  background-color: #FFFFFF;
}

.header{
  background-color: #F9A03F;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.article{
  position: relative;
  height: 100px;
  width: 100%;
  top: 30px;
  left: 10px;
}

.btn-outline-dark{
  height: 50px;
  width: 200px;
  margin-top: 15px;
}

.content{
  margin-top: 20px;
}

#article{
  margin-left: 10px;
  margin-bottom: 200px;
}
