body {
  background-color: #237A5B ;
  color: #F3A30C;
  font-weight: bold;
}

#header{
  background-color: #036A45;
  height: 10%;
  margin-bottom: 20px;
  color: #D8EE0B;

}

.important {
  color: #E6F746;
}

.important h4{
  padding-top: 50px
}

.leftside{
  padding-left: 10px;
}

#content table img{
  align: "left";
}
#information{
  width: 200px;
}

#footer{
  margin-top:110%;
  height: 5%;
  background-color: #036A45 ;
    color: #B68934;
}
