body{
  margin: 0px;
}

/* main scene*/

.scene{
  background-color: #f0e6de;
  height: 100%;
  width: 100%;
  position: relative;
}

/*Person's basic parts*/
.person{
  position: relative;
  height: 200px;
  width: 50px;
  z-index: 20;
}

.head{
  position: absolute;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  left: 15px;
}

.body{
  position: absolute;
  background-color:  black;
  width: 6px;
  height: 50px;
  top: 18px;
  left: 22px;
}

.r_leg{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 35px;
  top: 68px;
  left: 25px;
  transform: skewX(10deg);
}

.l_leg{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 35px;
  top: 68px;
  left: 19px;
  transform: skewX(350deg);
}

.r_hand_1{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 15px;
  top: 30px;
  left: 25px;
  transform: rotate(335deg);
}

.r_hand_2{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 20px;
  top: 43px;
  left: 30px;
  transform: rotate(350deg);
}

.l_hand_1{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 15px;
  top: 30px;
  left: 19px;
  transform: rotate(25deg);
}

.l_hand_2{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 20px;
  top: 43px;
  left: 14px;
  transform: rotate(10deg);
}

/* finished a person  */


/* how zombie move*/
.zombie_way{
  position: relative;
  width: 300px;
  /* можно рассмотреть в инструменте разработчика*/
  height: 10px;
}

@keyframes move_animation_zombie {
    0% {
        right: 0px;
    }
    33% {
        right: 100px;
    }
    66% {
        right: 200px;
    }
    95%{
      transform: rotate(0deg);
    }
    100% {
        right: 300px;
        transform: rotate(90deg);
    }
}

/* animation of walig of a zombie*/
.zombie_way > .person{
  position: absolute;
  animation: 8s linear move_animation_zombie infinite;
  right: 0px;
}


@keyframes l_leg_animation_zombie {
    0% {
      transform: skewX(350deg);
      left: 19px;
      height: 35px;
    }
    10% {
      transform: skewX(340deg);
      left: 16px;
      height: 34px;
    }
    20% {
      transform: skewX(350deg);
      left: 19px;
      height: 35px;
    }
    30% {
      transform: skewX(340deg);
      left: 16px;
      height: 34px;
    }
    40% {
      transform: skewX(350deg);
      left: 19px;
      height: 35px;
    }
    50% {
      transform: skewX(340deg);
      left: 16px;
      height: 34px;
    }
    60% {
      transform: skewX(350deg);
      left: 19px;
      height: 35px;
    }
    70% {
      transform: skewX(340deg);
      left: 16px;
      height: 34px;
    }
    80% {
      transform: skewX(350deg);
      left: 19px;
      height: 35px;
    }
    90% {
      transform: skewX(340deg);
      left: 16px;
      height: 34px;
    }
    95%{
      transform: skewX(350deg) rotate(0deg);
      left: 19px;
      height: 35px;
    }
    100% {
      transform: rotate(350deg);
      left: 24px;
    }
}

.zombie_way .l_leg{
  animation: 8s linear l_leg_animation_zombie infinite;
}

@keyframes r_leg_animation_zombie {
    0% {
      transform: skewX(10deg);
      height: 34px;
      left: 25px;
    }
    10% {
      transform: skewX(20deg);
      height: 35px;
      left: 28px;
    }
    20% {
      transform: skewX(10deg);
      height: 34px;
      left: 25px;
    }
    30% {
      transform: skewX(20deg);
      height: 35px;
      left: 28px;
    }
    40% {
      transform: skewX(10deg);
      height: 34px;
      left: 25px;
    }
    50% {
      transform: skewX(20deg);
      height: 35px;
      left: 28px;
    }
    60% {
      transform: skewX(10deg);
      height: 34px;
      left: 25px;
    }
    70% {
      transform: skewX(20deg);
      height: 35px;
      left: 28px;
    }
    80% {
      transform: skewX(10deg);
      height: 34px;
      left: 25px;
    }
    90% {
      transform: skewX(20deg);
      height: 35px;
      left: 28px;
    }
    95%{
      transform: skewX(10deg) rotate(360deg);
      height: 35px;
      left: 25px;
      top: 68px;
    }
    100% {
      transform: rotate(340deg);
      left: 27px;
      top: 67px;
    }
}

.zombie_way .r_leg{
  animation: 8s linear r_leg_animation_zombie infinite;
}

.zombie_way .r_hand_2{
  height: 35px;
  top: 32px;
  left: 14px;
  transform: rotate(80deg);

}

.zombie_way .l_hand_2{
  height: 30px;
  top: 30px;
  left: 5px;
  transform: rotate(90deg);

}

.zombie_way .body, .zombie_way .head,
.zombie_way .r_hand_1 ,.zombie_way .l_hand_1,
.zombie_way .r_hand_2, .zombie_way .l_hand_2,
.zombie_way .r_leg, .zombie_way .l_leg {
  background-image: url('flesh.jpg');
  background-size: 700%;
}

/* zombie ends */


/* m416 animation starts */

@keyframes m416_animation {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(350deg);
  }
  100% {
    transform: rotate(360deg);
  }

}

.m416{
  position:  absolute;
  background-image: url("M416.png");
  background-size: 100%;
  height: 30px;
  width: 100px;
  animation: 0.4s cubic-bezier(0.4, 0, 1, 1)   m416_animation infinite;
  z-index: 30;
}

/* shooter animaton */

.shooter .r_hand_2{
  left: 37px;
  top: 38px;
  transform: rotate(280deg);
}

.shooter .l_hand_2{
  left: 26px;
  top: 38px;
  transform: rotate(300deg);
}

.shooter .m416{
  top: 30px;
  left: -5px;
}

/* castle and people in it */

.castle{
  background-image: url('castle.jpg');
  background-size: 100%;
  height: 260px;
  width: 400px;
  position: absolute;
}

.shooter1{
  position: absolute;
  left: 280px;
  top: 157px;
}

.shooter2{
  position: absolute;
  left: 170px;
  top: 157px;
}

.shooter3{
  position: absolute;
  left: 150px;
  top: 28px;
}

.shooter4{
  position: absolute;
  left: 10px;
  top: 157px;
}


/* zombie attack and zombies in it */

.zombie_attack{
  left: 500px;
  top: 157px;
  right: 10px;
  height: 10px;
  position: absolute;
}

.zombie1{
  position: absolute;
  right: 0px;
}

.zombie2{
  position: absolute;
  right: 10px;
}

.zombie3{
  position: absolute;
  right: -10px;
}

.zombie4{
  position: absolute;
  right: 20px;
}

.zombie5{
  position: absolute;
  right: -20px;
}
