body{
  margin: 0px;
}

/* main scene*/

.scene{
  background-color: #f0e6de;
  height: 100%;
  width: 100%;
  position: relative;
}

/*Person's basic parts*/
.person{
  position: relative;
  height: 200px;
  width: 50px;
  z-index: 20;
}

.head{
  position: absolute;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  left: 15px;
}

.body{
  position: absolute;
  background-color:  black;
  width: 6px;
  height: 50px;
  top: 18px;
  left: 22px;
}

.r_leg{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 35px;
  top: 68px;
  left: 25px;
  transform: skewX(10deg);
}

.l_leg{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 35px;
  top: 68px;
  left: 19px;
  transform: skewX(350deg);
}

.r_hand_1{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 15px;
  top: 30px;
  left: 25px;
  transform: rotate(335deg);
}

.r_hand_2{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 20px;
  top: 43px;
  left: 30px;
  transform: rotate(350deg);
}

.l_hand_1{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 15px;
  top: 30px;
  left: 19px;
  transform: rotate(25deg);
}

.l_hand_2{
  position: absolute;
  background-color: black;
  width: 6px;
  height: 20px;
  top: 43px;
  left: 14px;
  transform: rotate(10deg);
}

/* finished a person  */


/* how zombie move*/
.zombie_way{
  width: 300px;
  /* можно рассмотреть в инструменте разработчика*/
  height: 10px;
}

@keyframes move_animation_zombie {
    0% {
        right: 0px;
    }
    33% {
        right: 100px;
    }
    66% {
        right: 200px;
    }
    95%{
      transform: rotate(0deg);
    }
    100% {
        right: 300px;
        transform: rotate(90deg);
    }
}

/* animation of walig of a zombie*/
.zombie_way > .person{
  position: absolute;
  animation: 8s linear move_animation_zombie infinite;
  right: 0px;
}

@keyframes l_leg_animation_zombie {
    0% {
      transform: skewX(350deg);
      left: 19px;
      height: 35px;
    }
    10% {
      transform: skewX(340deg);
      left: 16px;
      height: 34px;
    }
    20% {
      transform: skewX(350deg);
      left: 19px;
      height: 35px;
    }
    30% {
      transform: skewX(340deg);
      left: 16px;
      height: 34px;
    }
    40% {
      transform: skewX(350deg);
      left: 19px;
      height: 35px;
    }
    50% {
      transform: skewX(340deg);
      left: 16px;
      height: 34px;
    }
    60% {
      transform: skewX(350deg);
      left: 19px;
      height: 35px;
    }
    70% {
      transform: skewX(340deg);
      left: 16px;
      height: 34px;
    }
    80% {
      transform: skewX(350deg);
      left: 19px;
      height: 35px;
    }
    90% {
      transform: skewX(340deg);
      left: 16px;
      height: 34px;
    }
    95%{
      transform: skewX(350deg) rotate(0deg);
      left: 19px;
      height: 35px;
    }
    100% {
      transform: rotate(350deg);
      left: 24px;
    }
}

.zombie_way .l_leg{
  animation: 8s linear l_leg_animation_zombie infinite;
}

@keyframes r_leg_animation_zombie {
    0% {
      transform: skewX(10deg);
      height: 34px;
      left: 25px;
    }
    10% {
      transform: skewX(20deg);
      height: 35px;
      left: 28px;
    }
    20% {
      transform: skewX(10deg);
      height: 34px;
      left: 25px;
    }
    30% {
      transform: skewX(20deg);
      height: 35px;
      left: 28px;
    }
    40% {
      transform: skewX(10deg);
      height: 34px;
      left: 25px;
    }
    50% {
      transform: skewX(20deg);
      height: 35px;
      left: 28px;
    }
    60% {
      transform: skewX(10deg);
      height: 34px;
      left: 25px;
    }
    70% {
      transform: skewX(20deg);
      height: 35px;
      left: 28px;
    }
    80% {
      transform: skewX(10deg);
      height: 34px;
      left: 25px;
    }
    90% {
      transform: skewX(20deg);
      height: 35px;
      left: 28px;
    }
    95%{
      transform: skewX(10deg) rotate(360deg);
      height: 35px;
      left: 25px;
      top: 68px;
    }
    100% {
      transform: rotate(340deg);
      left: 27px;
      top: 67px;
    }
}

.zombie_way .r_leg{
  animation: 8s linear r_leg_animation_zombie infinite;
}

.zombie_way .r_hand_2{
  height: 35px;
  top: 32px;
  left: 14px;
  transform: rotate(80deg);

}

.zombie_way .l_hand_2{
  height: 30px;
  top: 30px;
  left: 5px;
  transform: rotate(90deg);

}

.zombie_way .body, .zombie_way .head,
.zombie_way .r_hand_1 ,.zombie_way .l_hand_1,
.zombie_way .r_hand_2, .zombie_way .l_hand_2,
.zombie_way .r_leg, .zombie_way .l_leg {
  background-image: url('flesh.jpg');
  background-size: 700%;
}

/* zombie ends */


/* guns animation starts */

@keyframes m416_animation {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(350deg);
  }
  100% {
    transform: rotate(360deg);
  }

}

.m416{
  position:  absolute;
  background-image: url("M416.png");
  background-size: 100%;
  height: 30px;
  width: 100px;
  animation: 0.4s cubic-bezier(0.4, 0, 1, 1)   m416_animation infinite;
  z-index: 30;
}

@keyframes gun_animation {
  0% {
    transform: rotate(360deg);
  }
  20% {
    transform: rotate(340deg);
  }
  40% {
    transform: rotate(360deg);
  }

}

.big_gun{
  position:  absolute;
  background-image: url("big_gun.png");
  background-size: 100%;
  height: 40px;
  width: 100px;
  animation: 5s cubic-bezier(0.04, 1.14, 0.18, 0.85)   gun_animation infinite;
  z-index: 30;
}


/* shooter animaton */
.shooter {}

.shooter  .r_hand_2 {
  left: 37px;
  top: 38px;
  transform: rotate(280deg);
}

.shooter .l_hand_2{
  left: 26px;
  top: 38px;
  transform: rotate(300deg);
}

.shooter .m416{
  top: 30px;
  left: -5px;
}

.shooter .big_gun{
  top: 20px;
  left: -5px;
}
/* castle and people in it */

.castle{
  background-image: url('castle.jpg');
  background-size: 100%;
  height: 260px;
  width: 400px;
  position: absolute;
}

.shooter1{
  position: absolute;
  left: 36px;
  top: 39px;
}

.shooter1 .m416{
  animation-delay: 5.05s;
}

.shooter2{
  position: absolute;
  left: 170px;
  top: 157px;
}

.shooter2 .m416{
  animation-delay: 5.15s;
}

.shooter3{
  position: absolute;
  left: 150px;
  top: 28px;
}

.shooter3 .m416{
  animation-delay: 5.21s;
}

.shooter4{
  position: absolute;
  left: 10px;
  top: 157px;
}

.shooter4 .m416{
  animation-delay: 5.33s;
}

.gunner1{
  position: absolute;
  left: 300px;
  top: 39px;
}

.gunner1 .big_gun{
  animation-delay: 8.43s
}

.gunner2{
  position: absolute;
  left: 280px;
  top: 157px;


}

.gunner2 .big_gun{
  animation-delay: 7s
}
/* zombie attack and zombies in it */

.zombie_attack{
  left: 500px;
  top: 157px;
  right: 10px;
  height: 10px;
  position: absolute;
}

.zombie_attack > .zombie_way{
    position: absolute;
    z-index: 30;
}

.zombie_house{
  background-image: url('zombie_house.png');
  background-size: 100%;
  height: 300px;
  width: 300px;
  z-index: 40;
}

.zombie_attack > .zombie_house{
  position: absolute;
  left: 60px;
  top: -163px;
}

.zombie1 .person, .zombie1 .l_leg, .zombie1 .r_leg{
  animation-delay: 1s;
}
.zombie2 .person, .zombie2 .l_leg, .zombie2 .r_leg{
  animation-delay: 0.1s;
}
.zombie3 .person, .zombie3 .l_leg, .zombie3 .r_leg{
  animation-delay: 1.45s;
}
.zombie4 .person, .zombie4 .l_leg, .zombie4 .r_leg{
  animation-delay: 6.33s;
}
.zombie5 .person, .zombie5 .l_leg, .zombie5 .r_leg{
  animation-delay: 3.56s;
}
.zombie6 .person, .zombie6 .l_leg, .zombie6 .r_leg{
  animation-delay: 5.25s;
}
.zombie7 .person, .zombie7 .l_leg, .zombie7 .r_leg{
  animation-delay: 2.73s;
}
.zombie8 .person, .zombie8 .l_leg, .zombie8 .r_leg{
  animation-delay: 2.21s;
}
.zombie9 .person, .zombie9 .l_leg, .zombie9 .r_leg{
  animation-delay: 5.93s;
}
.zombie10 .person, .zombie10 .l_leg, .zombie10 .r_leg{
  animation-delay: 3.92s;
}
.zombie11 .person, .zombie11 .l_leg, .zombie11.r_leg{
  animation-delay: 6.92s;
}
