.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite .1s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.elephant{
  position: relative;
}

.leg{
  position: absolute;
  top: 316px;
  left: 2px;
}

.hand{
  position: absolute;
  top: 316px;
  left: 250px;
}

.body{
  position: absolute;
    left: 45px;
}

.head{
  position: absolute;
    left: 430px;
}

.tail{
  position: absolute;
}

.choosing{
  width : calc(100% - 40px);
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 450px;
  margin: 20px;
}

.list{
  position: relative;
}
